[submodule "ao"]
	path = tools/ao
	url = https://github.com/generic-github-user/ao
[submodule "zeal"]
	path = lib/zeal
	url = https://github.com/generic-github-user/zeal
[submodule "generic-github-user"]
	path = generic-github-user
	url = https://github.com/generic-github-user/generic-github-user
[submodule "clover"]
	path = ml/clover
	url = https://github.com/generic-github-user/clover
[submodule "utils"]
	path = tools/utils
	url = https://github.com/generic-github-user/utils
[submodule "c2s"]
	path = languages/c2s
	url = https://github.com/generic-github-user/c2s
[submodule "board"]
	path = mathematics/combinatorics/board
	url = https://github.com/generic-github-user/board
[submodule "finch"]
	path = languages/finch
	url = https://github.com/generic-github-user/finch
[submodule "tetris-variants"]
	path = tetris-variants
	url = https://github.com/generic-github-user/tetris-variants
