* {
      user-select: none;
}

html, body {
      width: 100%;
      height: 100%;
}

.value-label {
      font-family: Roboto, sans-serif;
      color: #000;
}

#control-panel {
      width: 20%;
      height: 100%;

      float: left;

      background-color: #e8f0ff;
      box-shadow: 10px 10px 15px #888;
      transition: background-color 1s ease, box-shadow 1.5s ease, width 2s ease;
}

#control-panel:hover {
      width: 30%;

      background-color: #bacdf2;
      box-shadow: 20px 20px 30px #888;
      transition: background-color 1s ease, box-shadow 1.5s ease, width 2s ease;
}
#control-panel:hover ~ #network-visualization { width: 70%; }

#network-visualization {
      width: 80%;
      height: 100%;

      float: right;

      /* background-color: #fff; */
      filter: drop-shadow(6px 6px 4px #888);
      transition: background-color 1s ease, filter 1.5s ease, width 2s ease;
}

#network-visualization:hover {
      /* background-color: #fff; */
      filter: drop-shadow(12px 12px 8px #888);
      transition: background-color 1s ease, filter 1.5s ease, width 2s ease;
}
