* {
      user-select: none;
      font-family: Roboto, sans-serif;
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
}

.cell {
      float: left;
      padding: 5px;
      text-align: center;
}